.text-setting{
    font-weight: 700;
    text-decoration: underline;
    padding-right: 10px;
    font-size: 12px;
}
.form-setting label:hover{
    cursor: pointer;
}
.form-setting{
    margin-bottom: 10px;
}
.form-setting input{
    vertical-align: -15%;
}
.register-param-rh{
    float: right;
    display: block;
}